body {
  background-color: #5a75ff;
}
div.top-header {
  padding: 5px;
  font-size: 1.4em;
  background-color: #001167;
  color: white;
}

.play-area {
  background-color: #f7f8ff;
}
.player-1-hand {
  grid-area: h1;
}
.player-2-hand {
  grid-area: h2;
}
.player-1-actions {
  grid-area: a1;
}
.player-2-actions {
  grid-area: a2;
}
.player-1-actions, .player-2-actions {
  font-size: .8em;
  display: flex;
  align-items: center;
  text-align: center;
}
.player-1-actions div, .player-2-actions div {
  flex: 1;
  border: 1px solid #dca9a9;
  border-radius: 3px;
  padding: 34px 0;
  margin: 0 2px;
}
.player-1-items {
  grid-area: p1;
}
.player-2-items {
  grid-area: p2;
}
.geisha-cards {
  grid-area: g;
  background-color: #001167;
}
.geishaCards > div {
  grid-area: g;
}
.draw-pile {
  grid-area: d;
  font-size: 1.2em;
  color: #dca9a9;
  background-color: #001167;
  justify-content: center;
}

.grid-container {
  margin-top: 70px;
  display: grid;
  grid-template-rows: 55px 10px 75px 150px 90px 150px 75px 10px 55px;
  grid-template-areas: 
    ". .  .  .  h1 h1 h1 h1 . ."
    ". a1 a1 a1 h1 h1 h1 h1 . ."
    ". a1 a1 a1 h1 h1 h1 h1 . ."
    ". p1 p1 p1 p1 p1 p1 p1 . ."
    ". g  g  g  g  g  g  g  d ."
    ". p2 p2 p2 p2 p2 p2 p2 . ."
    ". h2 h2 h2 h2 a2 a2 a2 . ."
    ". h2 h2 h2 h2 a2 a2 a2 . ."
    ". h2 h2 h2 h2 .  .  .  . .";
  grid-column-gap: 5px;
  grid-row-gap: 10px;
  justify-items: stretch;
  align-items: stretch;
  
}
.grid-container > div {
  padding: 1px;
  border: 1px solid #dca9a9;
  border-radius: 3px;
}
.flex-container {
  display: flex;
  align-items: center;
}
.flex-container > div {
  position: relative;
  text-align: center;
  margin: 2px;
  flex: 1;
  background-color: white;
  border: 1px solid #dca9a9;
  border-radius: 3px;
}
/* .charm-points {
  position: absolute;
}
.vp-status {
  position: absolute;
} */

