.AppBar {
  padding: 25px;
  font-size: 2em;
}
.playArea1 {
  grid-area: p1;
}
.playerActions1 {
  grid-area: a1;
}
.playArea2 {
  grid-area: p2;
}
.playerActions2 {
  grid-area: a2;
}
.geishaCards {
  grid-area: g;
}
.drawPile {
  grid-area: d;
}
.container {
  margin-top: 150px;
  display: grid;
  grid-template-rows: 100px 100px 150px 100px 100px; 
  grid-template-areas: 
    ".  .  p1  p1  p1  p1  p1  p1  .  ."
    ".  .  .   a1  a1  a1  a1  .   .  ."
    ".  g  g   g   g   g   g   g   d  ."
    ".  .  .   a2  a2  a2  a2  .   .  ."
    ".  .  p2  p2  p2  p2  p2  p2  .  .";
  grid-column-gap: 5px;
  grid-row-gap: 10px;
  justify-items: stretch;
  align-items: stretch;
}

.container > div {
  padding: 5px;
  border: 1px solid black;
}

